.king {
    height: 400px;
    width: auto;
    background-image: url("kingston.webp");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#vibe {
    background: rgba(13, 13, 71, 0.849);
    padding: 8px 16px;
    border-radius: 4px;
    text-shadow: 0px 0px 3px black;
}

#ecr {
    background: rgba(135, 207, 235, 0.822);
    padding: 3.5px 6.5px;
    border-radius: 2.5px;
    text-shadow: 0px 0px 3px black;
}

body {
    color:rgb(13, 13, 71);
    text-align: center;
    text-shadow: 0px 0px 1px black;
    background: white;
    font-family: 'MedievalSharp', cursive;
    font-family: 'Orbitron', sans-serif;
}

.container {
    height: 400px;
    width: auto;
    border: 1px solid rgba(245, 222, 179, 0.452);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background: rgba(245, 222, 179, 0.082);
    text-shadow: 0px 0px 1px black;
    margin-bottom: 50px;
}

.sugar {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.im-g {
    border-bottom: 6px solid rgba(87, 0, 128, 0.808);
    background: skyblue;
    padding: 20px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 400px;
    background: #bbaccc;
    text-shadow: 0px 0px 1px black;
    margin-bottom: 50px;
}

.avatar {
    width: 140px;
    margin: 10px 20px;
}